{{ define "main" }}

<section class="hero is-primary shadow-hero is-bold is-halfheight">

    <div class="hero-head">
        {{ partial "nav.html" . }}
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="content is-large" id="maincontent">
                {{ .Content }}
                <a class="button" href="{{ .Params.button.url }}">{{ .Params.button.label }}</a>
            </div>
        </div>
    </div>

</section>
    {{ range first 1 (where .Site.RegularPages "Section" "issues").ByDate.Reverse }} <!-- start range for most recent -->
        {{ partial "issue-toc.html" . }}
    {{ end }} <!-- END range for most recent -->

{{ end }}
